{% extends "flextool3/base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %} Project details {% endblock %}

{% block top-bar %}
    <li><a href="{% url 'flextool3:index' %}">Projects</a></li>
    <li><p>Project details</p></li>
    <li><a href="{% url 'flextool3:edit' project.id %}">Model editor</a></li>
    <li><a href="{% url 'flextool3:solve' project.id %}">Solve</a></li>
    <li><a href="{% url 'flextool3:view' project.id %}">Results</a></li>
{% endblock %}

{% block content %}
    <div id="detail-app">
        <detail-app index-url="{% url 'flextool3:index' %}" edit-url="{% url 'flextool3:edit' project.id %}" solve-url="{% url 'flextool3:solve' project.id %}" view-url="{% url 'flextool3:view' project.id %}" project-name="{{ project.name }}"></detail-app>
    </div>
    {% render_bundle 'detail' %}
{% endblock %}
