{% extends "flextool3/edit_base.html" %}
{% load static %}

{% block content %}
    <div class="app-box" id="edit-app">
        <n-message-provider>
            <editor-app
                index-url="{% url 'flextool3:index' %}"
                project-url="{% url 'flextool3:detail' project.id %}"
                project-name="{{ project.name }}"
                :project-id="{{ project.id }}"
                model-url="{% url 'flextool3:model' %}"
                scenarios-url="{% url 'flextool3:scenarios' project.id %}"
                solves-url="{% url 'flextool3:solves' project.id %}"
            ></editor-app>
        </n-message-provider>
    </div>
    <script src="{% static 'flextool3/apps/js/chunk-vendors.js' %}"></script>
    <script src="{% static 'flextool3/apps/js/edit.js' %}"></script>
{% endblock %}
