{% extends "flextool3/base.html" %}
{% load static %}

{% block title %} Projects {% endblock %}

{% block content %}
    <div id="index-app">
        <n-message-provider>
            <index-app
                index-url="{% url 'flextool3:index' %}"
                projects-url="{% url 'flextool3:projects' %}"
                logout-url="{% url 'flextool3:logout' %}"
                logo-url="{% static 'flextool3/menu-logo.png' %}"
            ></index-app>
        </n-message-provider>
    </div>
    <script src="{% static 'flextool3/apps/js/chunk-vendors.js' %}"></script>
    <script src="{% static 'flextool3/apps/js/index.js' %}"></script>
{% endblock %}
