{% extends "flextool3/base.html" %}
{% load static %}

{% block title %} Run model - Flextool 3{% endblock %}

{% block top-bar %}
    <li><a href="{% url 'flextool3:index' %}">Projects</a></li>
    <li><a href="{% url 'flextool3:detail' project.id %}">Manage project</a></li>
    <li><a href="{% url 'flextool3:edit' project.id %}">Model editor</a></li>
    <li><p>Run</p></li>
    <li><a href="{% url 'flextool3:view' project.id %}">Results</a></li>
{% endblock %}


{% block content %}
    <div class="app-box" id="run-app">
        <n-message-provider>
            <run-app
                index-url="{% url 'flextool3:index' %}"
                project-url="{% url 'flextool3:detail' project.id %}"
                project-name="{{ project.name }}"
                :project-id="{{ project.id }}"
                view-url="{% url 'flextool3:view' project.id %}"
                executions-url="{% url 'flextool3:executions' %}"
            >
            </run-app>
        </n-message-provider>
    </div>
    <script src="{% static 'flextool3/apps/js/chunk-vendors.js' %}"></script>
    <script src="{% static 'flextool3/apps/js/run.js' %}"></script>
{% endblock %}
