{% extends "flextool3/base.html" %}
{% load static %}

{% block title %} Run model - Flextool 3{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'flextool3/apps/css/run.css' %}">
{% endblock %}

{% block content %}
    <div id="run-app">
        <n-message-provider>
            <run-app
                index-url="{% url 'flextool3:index' %}"
                edit-url="{% url 'flextool3:edit' project.id %}"
                project-url="{% url 'flextool3:detail' project.id %}"
                project-name="{{ project.name }}"
                :project-id="{{ project.id }}"
                model-url="{% url 'flextool3:model' %}"
                run-url="{% url 'flextool3:run' project.id %}"
                results-url="{% url 'flextool3:view' project.id %}"
                executions-url="{% url 'flextool3:executions' %}"
                scenarios-url="{% url 'flextool3:scenarios' project.id %}"
                logout-url="{% url 'flextool3:logout' %}"
                logo-url="{% static 'flextool3/menu-logo.png' %}"
                >
            </run-app>
        </n-message-provider>
    </div>
    <script src="{% static 'flextool3/apps/js/chunk-vendors.js' %}"></script>
    <script src="{% static 'flextool3/apps/js/run.js' %}"></script>
{% endblock %}
