{% extends "flextool3/edit_base.html" %}
{% load static %}
{% load django_vite %}

{% block head %}
    {% vite_hmr_client %}
{% endblock %}

{% block content %}
    <div id="scenarios-app">
        <n-dialog-provider>
            <n-message-provider>
                <scenarios-app
                        index-url="{% url 'flextool3:index' %}"
                        project-url="{% url 'flextool3:detail' project.id %}"
                        project-name="{{ project.name }}"
                        :project-id="{{ project.id }}"
                        edit-url="{% url 'flextool3:edit' project.id %}"
                        run-url="{% url 'flextool3:run' project.id %}"
                        results-url="{% url 'flextool3:view' project.id %}"
                        model-url="{% url 'flextool3:model' %}"
                        logout-url="{% url 'flextool3:logout' %}"
                        logo-url="{% static 'flextool3/menu-logo.png' %}"
                ></scenarios-app>
            </n-message-provider>
        </n-dialog-provider>
    </div>
    {% vite_asset "src/scenarios.js" %}
{% endblock %}
