{% extends "flextool3/edit_base.html" %}
{% load static %}

{% block content %}
    <div class="app-box" id="solves-app">
        <n-dialog-provider>
            <n-message-provider>
                <solves-app
                        index-url="{% url 'flextool3:index' %}"
                        project-url="{% url 'flextool3:detail' project.id %}"
                        project-name="{{ project.name }}"
                        :project-id="{{ project.id }}"
                        edit-url="{% url 'flextool3:edit' project.id %}"
                        model-url="{% url 'flextool3:model' %}"
                ></solves-app>
            </n-message-provider>
        </n-dialog-provider>
    </div>
    <script src="{% static 'flextool3/apps/js/chunk-vendors.js' %}"></script>
    <script src="{% static 'flextool3/apps/js/solves.js' %}"></script>
{% endblock %}
