{% extends "flextool3/base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %} Solve model - Flextool 3{% endblock %}

{% block top-bar %}
    <li><a href="{% url 'flextool3:index' %}">Projects</a></li>
    <li><a href="{% url 'flextool3:detail' project.id %}">Project details</a></li>
    <li><a href="{% url 'flextool3:edit' project.id %}">Model editor</a></li>
    <li><p>Solve</p></li>
    <li><a href="{% url 'flextool3:view' project.id %}">Results</a></li>
{% endblock %}


{% block content %}
    <div class="app-box" id="solve-app">
        <n-message-provider>
            <solve-app index-url="{% url 'flextool3:index' %}" project-url="{% url 'flextool3:detail' project.id %}" project-name="{{ project.name }}" :project-id="{{ project.id }}" executions-url="{% url 'flextool3:executions' %}"></solve-app>
        </n-message-provider>
    </div>
    {% render_bundle 'solve' %}
{% endblock %}
