#top-bar ul {
    list-style-type: none;
    background-color: #03aff4;
    align: center;
}

#top-bar li {
    display: inline-block;
}

#top-bar a, p {
    padding: 1em 2em;
    margin: 0;
    border 0;
}

#top-bar a {
    text-decoration: none;
}

#top-bar a:hover {
    color: white;
    background-color: #555;
}

#top-bar p {
    color: white;
    background-color: black;
}

#index-app {
    max-width: 50em;
}

.app-box {
  margin-left: 2em;
  margin-right: 2em;
}
